@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Hammersmith+One&family=Montserrat:wght@700&family=Playfair+Display:wght@500&family=Prata&family=Syne:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    
}


h2{
    font-size: 60px;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    background: #fafdff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

#hero{
    background-image: url(bg5.jpg);
    height: 90vh;
    width:100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h2{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color:;
    padding: 12px;
    justify-content: center;
    margin-left: 5%;
    font-size: 63px;
    cursor: pointer;
}

#mood{
    padding-top: 100px;
    
}

#mood h1{
 
    font-size: 46px;
    text-align: center;

    
}


#mood .hehe img{
    size: 400px;
}


#mood .hehe{
    display: flex ;
    justify-content: center;
}

#mood .hehe .sad a{
    text-align: center;
    margin-right: 150px;
}

#mood .hehe .happy img{
    padding-top: 30px;
    padding-right: 190px;
}

#mood .hehe .happy a{
    margin-left: 200px;
    text-align: center;
    padding-bottom: 30px;
    
}

#mood .hehe .stressed img{
    padding-top: 30px;
    padding-right:200px;
}
#mood .hehe a{
    font-size: 40px;
}





#product1 h2{
    font-size:55px;
}

#product1 .pro-container .pro h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}

#product1{
    text-align: center ;
}

#product1 h2{
    padding-top: 30px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap ;

}

#product1 .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.093);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro h3{
    text-align: center;

}
#product1 .pro .des span{
    color: #060603;
    font-size:12px  ;
}

#product1 .pro .des span h5{
    padding-top:7px ;
    color:#1a1a1a;
    font-size: 14px;

}

#product1 .pro .des i{
    font-size: 12px;
    color: rgba(230, 208, 14, 0.953);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right:10px
}